.logo-signup{
    width: 20%;
}

.signup-box{
    margin-top: 40px;
    width: 65%;
}

.signup-form{
    margin-top: 15px;
    padding-left: 14%;
    padding-top: 1%;
    width: 65%;
}

.input-box{
    width: 70%;
    font-weight: 600;
    border-radius: 0%;
}

.input-box2{
    width: 65%;
    text-align: center;
    font-weight: bold;
    border-radius: 0%;
}

.input-box3{
    font-weight: 600;
    width: 25%;
    text-align: center;
    border-radius: 0%;
}

.dob{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;

}

.dob-1{
    flex: 1 1;
    width: 50%;
}

.gender{
    flex: 1 1;
    width: 50%;
}

.signup-btn{
    display: block;
    color: white;
    border: solid 1px orangered;
    padding: 8px;
    text-decoration: none;
    width: 70%;
    text-align: center;
    background-color: orangered;
}

.signup-btn:hover{
    box-shadow: 0px 0px 5px 2px gray;
}

.hr-line{
    display: block;
    width: 100px;
}

.other-opt{
    display: block;
    padding-left: 28%;
}

.other-btn-box{
    width: 80%;
}

.navbar-opt-signup{
    flex: 1 1;

    padding-top: 20px;
    /* border: solid 1px; */
    width: 30px;
    max-height: fit-content;
    max-width: fit-content;
}

.other-btn{
    display: block;
    color: black;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    width: 200px;
    text-align: center;
}

.other-btn:hover{
    box-shadow: 0px 0px 5px 2px gray;

}